.weight-thin {
  font-weight: 100 !important;
}

.weight-light {
  font-weight: 300 !important;
}

.weight-regular {
  font-weight: 400 !important;
}

.weight-bold {
  font-weight: 500 !important;
}

.weight-strong {
  font-weight: 700 !important;
}

// .text-color--main {
//   color: $mainColor !important;
// }

// .text-white {
//   color: white !important;
// }
//
// .text-black {
//   color: black !important;
// }
//
// .text-dark--grey {
//   color: #313131 !important;
// }

.text-uppercase {
  text-transform: uppercase !important;
}
